.navbar{
	background-color: #2e353d;
}
.navbar-brand{
    height:40px;
    width: 40px;
    padding:7px 7px 5px 45px;
}
.navbar-fixed-top{
    background-color:black;
    height:60px;
    width:100%;
}
.navbar-right{
    font-size: 20px;
    padding:5px;
    color:white;
}
/* .navbar-left{
    font-size: 30px;
    padding:7px 7px 5px 45px;
    color:white;
} */

